/*ccs function color & main body code*/
:root {
    --white:rgb(255, 255, 255);
    --solid-black-navbar:rgba(0, 0, 0,0.5);
    --black:(0,0,0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

/* end ccs function color & main body code end*/

/*navbar*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--solid-black-navbar);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Dancing Script', cursive;;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--white);
    padding: 8px 25px;
    transition: all .5s ease; 
}

.navbar ul li a:hover {
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 0 10px var(--white);
}

/*home section*/
#home {
    flex-direction: column;
    display: flex;
    background-color: var(--solid-black-navbar);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: var(--black);

}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/assets/images/home-background.jpg);
    background-size: cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    border-radius: 1px solid var(--white);
    align-items: center;
    position: absolute;
    top: 30%;
}

.heading-text {
    font-family:'Dancing Script', cursive; 
    font-size: 40px;
    text-align: center;
    margin: 40px 0px;
}

.btn-box {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    outline: none;
    transition: .6s ease;
}

.btn-box:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    box-shadow:0 0 5px var(--white) , 0 0 10px var(--white) , 0 0 15px var(--white);
}

/*home section end*/